<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Chat</title>
</head>
<body>
    <h1>Here is some test window</h1>
<div style="display: flex; width: 100%; height: 100%; gap: 300px;">
    <pre id="allComments"></pre>
    <pre id="newComments"></pre>
</div>

    <section style="height: fit-content; min-height: 500px;">

      <form method="post" id="newCommentForm"> 
        {% csrf_token %}
        <div class="field">
          <label for="username">Username:</label>
          <input type="text" name="user-username" id="username" required />
        </div>
        <div class="field">
          <label for="user-email">Email: </label>
          <input type="email" name="user-email" id="user-email" required />
        </div>

        <div class="field">
          <label for="homepage">Homepage: </label>
          <input type="url" name="user-homepage" id="homepage"/>
        </div>

        <div class="field">
          <label for="text">Text</label>
          <input type="text" name="text" id="text" required/>
        </div>
        <div class="g-recaptcha" data-sitekey="6LfA6NcpAAAAALR-d4hJGFOVZNb3bF6N1Ib-nIPt"></div>
        <button type='submit'>Submit</button>

      </form>

    </section>

    <script>
      var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
      const ws = new WebSocket(
        ws_scheme
        + '://'
        + window.location.host
        + '/ws/'
      );
      var allComments = document.getElementById("allComments");
      var newComment = document.getElementById("newComments");

      ws.onopen = function(){
        ws.send(JSON.stringify({
            action: "list",
            request_id: new Date().getTime(),
        }))
        ws.send(JSON.stringify({
            action: "subscribe_to_comment_activity",
            request_id: new Date().getTime(),
        }))
      } 

      ws.onmessage = function(e){
          const data = JSON.parse(e.data); 
          switch(data.action) {

            case "list":
              allComments.textContent = JSON.stringify(JSON.parse(e.data), undefined, 2)
              break;

            default:
              newComment.textContent = JSON.stringify(JSON.parse(e.data), undefined, 2)        
              break;
          }
                      
      };

      // Form submit
      function onSubmit(token) {
          document.getElementById("newCommentForm").submit();
      }
  
      // Sending form
      const form = document.getElementById("newCommentForm");
      const formElements = form.elements
      let csrftoken = getCookie('csrftoken');

      async function sendData() {
        try {
          const response = await fetch(`${window.location.host}/api/v1/comments/`, {
          method: "POST",
          headers: {
                  'Accept': "application/json",
                  'Content-Type': "application/json;charset=utf-8",
                  "X-CSRFToken": csrftoken
              },
          credentials: 'same-origin',
          body: JSON.stringify(
            {
              "user": {
                  "email": formElements["user-email"].value,
                  "username": formElements["user-username"].value,
                  "homepage": formElements["user-homepage"].value
              },
              "text": formElements["text"].value,
              "g-recaptcha-response": document.getElementById("g-recaptcha-response").value
              
            }
          )
        });
        } catch (e) {
          console.error(e);
      }
  }
  
  // Take over form submission
  form.addEventListener("submit", (event) => {
    event.preventDefault();
    sendData();
  });
  

  // Getting Cookies

  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
  </script>

</body>
</html>